*
{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(102, 187, 236);
    
}


body
{
    background-color: rgb(35, 148, 0);
    margin-top: 0;
    margin-left: 0;
    height: 2vh;
}
.title
{
    background-color: rgb(4, 34, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.history
{
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    font-size: larger;
    
}
